<h1>文件柜</h1>

<table class="table">
  <thead>
    <tr>
      <th width="90%">名称</th>
      <th>文件数量</th>

    </tr>
  </thead>

  <tbody>
    <% @folders.each do |folder| %>
      <tr>
        <td><i class="fa fa-archive"></i> <%= link_to folder.name, folder %> </td>
        <td><%= folder.stuffs_count %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Folder', new_folder_path , class: 'btn' %>
